body {
  background-color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.expand-btn {
  border: none;
  color: gray;
  height: 70px;
  width: 70px;
  font-size: 60px;
  background: none;
  cursor: pointer;
}

#name-input {
  border: 0px solid;
  border-bottom: 1px solid;
  font-size: 30px;
  width: 90%;
  margin: 10px;
  padding: 10px;
}
#tag-input {
  border: 0px solid;
  border-bottom: 1px solid;
  font-size: 30px;
  width: 90%;
  margin: 10px;
  padding: 10px;
}
.add-tag-input {
  border: none;
  border-bottom: 1px solid black;
  color: gray;
  font-size: 20px;
  height: 30px;
  width: 200px;
  padding: 10px;
}
